<h1 class="text-center title">PROJECTS & PUBLICATIONS</h1>
<br>
<div class="row">
  <div class="col-md-12">
    <ul>
      <li>Securing RESTful APIs with RSA + AES Encryption (yet to be written)</li>
      <li>Spring Cloud Gateway VS Zuul for Microservices (yet to be written)</li>
      <li>Predicting The Result of a CS:GO game with AI</li>
      <li>Design of a Mini-Compiler</li>
      <li>Simulation of Producer-Consumer with queue</li>
      <li>Recognizing Plate Numbers Using AI</li>
    </ul>
  </div>
</div>
