<h1 class="text-center title">PROJECTS & PUBLICATIONS</h1>
<br>


<div class="row text-center">
  <div class="col-md-4">
      <div class="certificate-item">
        <h5>Resource and Latency Optimization Over Cloud with Genetic Algorithm</h5>
        <h6>(On Going)</h6>
      </div>
  </div>
  <div class="col-md-4">
    <a href="https://github.com/rasachk/CSGO-Prediction" target="_blank">
      <div class="certificate-item">
        <h5>Predicting The Result of a CS:GO Game Using Artificial Intelligence</h5>
      </div>
    </a>
  </div>
  <div class="col-md-4">
    <a href="https://github.com/rasachk/Library" target="_blank">
      <div class="certificate-item">
        <h5>Design and Implementation of an API for a Library</h5>
      </div>
    </a>
  </div>
</div>

<br>

<div class="row text-center">
  <div class="col-md-4">
    <a href="https://github.com/rasachk/Producer-Consumer-With-Queue" target="_blank">
      <div class="certificate-item">
        <h5>Simulation of Producer-Consumer Problem with Queue</h5>
      </div>
    </a>
  </div>
  <div class="col-md-4">
      <div class="certificate-item">
        <h5>Securing Asynchronous RESTful APIs with RSA + AES CBC Encryption</h5>
        <h6>(to be written)</h6>
      </div>
  </div>
  <div class="col-md-4">
      <div class="certificate-item">
        <h5>Spring Cloud, Zuul and HA Proxy Comparison as API Gateways</h5>
        <h6>(on going)</h6>
      </div>
  </div>
</div>




