footer {
  /*border-top:1px #bfbfbf solid;*/
  background-color: #ededed;
  height: 5%;
}

.btn-outline-light {
  border-radius: 15px;
}

.btn {
  border-radius: 15px;
}

.btn:hover {
  background-color: white;
}
