<footer class="fixed-bottom text-center text-white">
  <div class="container  pb-0">
    <section class="mb-4">
      <a class="btn btn-floating m-1" href="mailto: chekani.rasa@gmail.com" role="button" target="_blank">
        <img src="../../assets/mail.png" height="25px" width="25px" alt="Email">
      </a>

      <a class="btn btn-floating m-1" href="https://www.linkedin.com/in/rasa-chekani/" role="button" target="_blank">
        <img src="../../assets/linkedin.png" height="25px" width="25px" alt="LinkedIn">
      </a>

      <a class="btn btn-floating m-1" href="https://github.com/rasachk" role="button" target="_blank">
        <img src="../../assets/github.png" height="25px" width="25px" alt="GitHub">
      </a>
    </section>
  </div>
</footer>
