<h1 class="text-center title">EXPERIENCE</h1>
<br>
<div class="row">
  <div class="col-md-12">
    <br>
    <h3>Jiring – Java Developer (December 2022 – Present)</h3>
    <p>Jiring is a subordinate of MCI which is the most popular mobile operator in Iran with more than 75 million active
      subscribers. Jiring is assigned to all the financial services of MCI.
      I gained the experience of working in an Agile environment with a professional team. I am responsible for
      developing multiple projects of the company including Jiring App and CoreSwitch.</p>
    <h5>CoreSwitch Project</h5>
    <p>Jiring’s CoreSwtich provides charge and internet packages of MCI, MTN Irancell and Rightel for famous companies
      like 780 and *7#. CoreSwitch uses a microservice architecture.</p>
    <ul>
      <li>Implementation of adding a new microservice for a new provider in CoreSwitch</li>
      <li>Design and Develop a Logging System for accessing every API call data</li>
      <li>Designing and developing a new API Gateway for CoreSwitch microservice multicore system, resulting in better
        performance and scalability
      </li>
      <li>Developed Unit Tests in order to increase code coverage</li>
      <li>Developed a various of Design Patterns leading to increased performance and scalability</li>
      <li>Monitoring, Maintaining & Debugging to ensure optimal performance</li>
    </ul>
    <h5>Jiring App Project</h5>
    <p>Jiring’s mobile application provides services like wallet, B2B, B2C and more.</p>
    <ul>
      <li>Optimized API calls security by implementing cryptography using multiple encryption algorithms such as RSA and
        AES without any performance loss
      </li>
      <li>Successful implementation of RESTful API services</li>
      <li>Developed a various of Design Patterns leading to increased performance and scalability</li>
      <li>Monitoring, Maintaining & Debugging the application in order to ensure optimal performance</li>
      <li>Developed Unit Tests in order to increase code coverage</li>
      <li>Developed a solid understanding of microservice architecture and multicore systems</li>
    </ul>
    <p>I co-operated with Jiring App’s Front-End team focused on the Android project and the PWA project written using
      Angular Framework.</p>
    <ul>
      <li>Successful implementation of multiple encryption algorithms in Front-End’s side for a secure asynchronized
        communication with API
      </li>
      <li>Fixed bugs and resolved issues in Angular/Android codes for a flawless execution of the app and better
        performance & efficiency
      </li>
    </ul>
    <br>
    <h3>Java Instructor (August 2021 – July 2022)</h3>
    <p>Helped a variety of people with learning Java and developing principles, familiarizing them with OOP concepts
      like Abstraction, Encapsulation, Inheritance and Polymorphism.</p>
  </div>
</div>
