<h1 class="text-center title">EXPERIENCE</h1>
<br>
<div class="row">
  <div class="col-md-12">
    <br>
    <h3>Kharazmi University - Teaching Assistant (October 2023 – Present)</h3>
    <p>Assisted professor Soltanian (Head of Computer Science Department) in conducting lab sessions and grading
      assignments for the Advanced Programming course</p>
    <ul>
      <li>Provided guidance to students on programming concepts</li>
      <li>Graded assignments and provided feedback to students in a timely manner</li>
    </ul>
    <br>
    <h3>Jiring – Java Developer (December 2022 – Present)</h3>
    <p>Jiring is a subordinate of MCI which is the most popular mobile operator in Iran with more than 75 million active subscribers. Jiring is assigned to all financial services of MCI.
      I gained the experience of working in an Agile environment with a professional team. I developed a solid understanding of microservice architecture and multicore systems.</p>
    <h5>CoreSwitch Project</h5>
    <p>Jiring’s CoreSwtich provides charge and internet packages of MCI, MTN Irancell and Rightel with more than a million of daily transactions. CoreSwitch uses a microservice architecture.</p>
    <ul>
      <li>Implementation of adding a new microservice in CoreSwitch and receiving an award for it</li>
      <li>Design and Develop a Logging System for accessing every API call data</li>
      <li>Developed Unit Tests in order to increase code coverage</li>
      <li>Developed a various of Design Patterns leading to increased performance and scalability</li>
      <li>Monitoring, Maintaining & Debugging to ensure optimal performance</li>
    </ul>
    <h5>Jiring App Project</h5>
    <p>Jiring’s mobile application provides B2B, B2C and wallet services.</p>
    <ul>
      <li>Optimized API calls security by implementing cryptography using multiple encryption algorithms such as RSA and AES without any performance loss</li>
      <li>Successful implementation of RESTful API services</li>
      <li>Developed Unit Tests in order to increase code coverage</li>
      <li>Co-operation with Front-End team in order to solve issues on PWA and Android</li>
    </ul>
    <br>
    <h3>Volunteer Java Instructor (August 2021 – July 2022)</h3>
    <p>Tuition of multiple students in person and virtual environment as a volunteer.</p>
    <ul>
      <li>Taught students concepts of Core Java, including OOP concepts like Abstraction, Encapsulation, Inheritance and Polymorphism</li>
      <li>Explained problem-solving using programming languages and developing principles</li>
    </ul>
    <br>
  </div>
</div>
