.certificate-item {
  height: 450px;
  width: 430px;
  border: 1px black solid;
  border-radius: 5px;

  text-decoration: none;
}

.description {
  padding: 12px;
}

.certificate-item:hover {
}

.certificate-item:hover {
  background-color: #ededed;
}

a {
  color: inherit;
  text-decoration: none;
}

.image {
  /*height: 287px;*/
  /*width: 372px;*/
  height: 350px;
  width: 430px;
}

.col-md-4 {
  padding: 10px;
}
