<h1 class="text-center title">CERTIFICATES</h1>
<br>
<div class="row text-center">
  <div class="col-md-4">
    <a href="https://coursera.org/share/d4d581e3e44de996036b5e061df1a8bc">
      <div class="certificate-item">
        <h5>HTML, CSS, and Javascript for Web Developers</h5>
        <h6>Johns Hopkins University</h6>
      </div>
    </a>
  </div>

  <div class="col-md-4">
    <a href="https://coursera.org/share/6ca0375d802c13350f2622996f13eed4">
      <div class="certificate-item">
        <h5>SQL for Data Science</h5>
        <h6>University of California, Davis</h6>
      </div>
    </a>
  </div>

  <div class="col-md-4">
    <a href="">
      <div class="certificate-item">
        <h5></h5>
        <h6></h6>
      </div>
    </a>
  </div>
</div>
<br>
<div class="row text-center">
  <div class="col-md-4">
    <a href="">
      <div class="certificate-item">
        <h5></h5>
        <h6></h6>
      </div>
    </a>
  </div>

  <div class="col-md-4">
    <a href="">
      <div class="certificate-item">
        <h5></h5>
        <h6></h6>
      </div>
    </a>
  </div>

  <div class="col-md-4">
    <a href="">
      <div class="certificate-item">
        <h5></h5>
        <h6></h6>
      </div>
    </a>
  </div>
</div>
