<div class="container">
  <h1 class="text-center title">Contact Me</h1>
  <br>
  <p>My contact information is available in this page. You can contact me using Email address below or any of the
    mentioned social medias.</p>
  <br>
  <h4>Rasa Chekani</h4>
  <ul class="contact-list">
    <li class="contact-list-item">Email: chekani.rasa@gmail.com</li>
    <li class="contact-list-item">Phone Number: +98 919 299 9085</li>
    <li class="contact-list-item"><a href="https://www.linkedin.com/in/rasa-chekani/">LinkedIn Page</a></li>
    <li class="contact-list-item"><a href="https://github.com/rasachk">GitHub Page</a></li>
  </ul>

</div>
