nav {
  /*border-bottom: 1px #bfbfbf solid;*/
}

.nav-link {
  font-weight: bold;
}

.nav-link:hover {
  background-color: #ededed;
  border-radius: 5px;
}

.active {
  /*text-decoration: white;*/
  background-color: #ededed;
  border-radius: 5px;
}
