/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";


@font-face {
  font-family: 'PlayFairDisplay';
  src: url('assets/PlayfairDisplay-Regular.ttf');
}

@font-face {
  font-family: 'NotoSansSogdian';
  src: url('assets/NotoSansSogdian-Regular.ttf');
}

@font-face {
  font-family: 'OpenSans';
  src: url('assets/OpenSans-Regular.ttf');
}

* {
  font-family: OpenSans, serif;
  /*transition-delay: 1s;*/
  /*transition-timing-function: linear;*/

}
