<div class="text-center">
  <h1>Rasa</h1>
  <!--  <h4>Java Developer</h4>-->
  <br>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <p>Lorem ipsum dolor sit amet. Id reiciendis libero ad minima temporibus est totam tenetur sit enim fugiat eos
        veritatis voluptatem! Sed provident voluptatem qui omnis architecto ut natus soluta ut quam praesentium aut
        velit
        voluptates eos saepe delectus. Non quia libero ad optio fugiat vel repellendus aspernatur sed sunt expedita in
        amet
        fugiat et voluptates consequatur et harum culpa. Est tempore dolor qui distinctio totam qui pariatur deserunt
        quo
        dolor quia id distinctio officiis.

        Ut internos atque aut corporis perferendis ut voluptatibus accusamus eos quisquam enim. Eum pariatur suscipit
        qui
        blanditiis accusantium sed temporibus tempore ut quod impedit qui molestias maiores est aliquam consequatur ut
        unde
        explicabo. Non recusandae eaque est libero excepturi et eligendi incidunt in nostrum explicabo At veritatis
        voluptatem non omnis minus ut culpa modi. Et voluptas sapiente ut odio excepturi non nisi autem rem voluptas
        eius
        aut aperiam Quis.

        Et consequatur earum vel corporis perferendis sed tempora ratione hic similique repudiandae qui cupiditate
        similique. Et magnam tenetur qui cumque possimus hic quod assumenda ut Quis Quis ad dolor pariatur qui facilis
        consequuntur! Aut fuga amet aut veritatis enim qui consequatur dolor aut dicta labore sed inventore soluta ut
        asperiores inventore et similique quia. Et asperiores consequuntur qui eius laborum sed doloremque delectus eum
        esse
        nostrum et iste saepe sit assumenda laborum.</p>
    </div>

    <div class="col-md-4">
      <p>Lorem ipsum dolor sit amet. Id reiciendis libero ad minima temporibus est totam tenetur sit enim fugiat eos
        veritatis voluptatem! Sed provident voluptatem qui omnis architecto ut natus soluta ut quam praesentium aut
        velit
        voluptates eos saepe delectus. Non quia libero ad optio fugiat vel repellendus aspernatur sed sunt expedita in
        amet
        fugiat et voluptates consequatur et harum culpa. Est tempore dolor qui distinctio totam qui pariatur deserunt
        quo
        dolor quia id distinctio officiis.</p>
    </div>
  </div>
</div>

