<div class="row">
  <div class="col-md-5">
    <img id="myPic" src="../../assets/rasa-chekani-4.jpg" height="100%" width="100%" alt="My Picture">
  </div>
  <div class="col-md-7">
    <div class="my-info">
      <h1>RASA CHEKANI</h1>
      <h4>Java Developer</h4>
      <p>I’m a highly motivated 22 years old Java Developer involved in analysis, design, implementation, testing and
        maintenance of enterprise-level projects. I’m currently studying Computer Science while working at Jiring.</p>
      <button class="btn btn-dark" (click)="onclick()">LEARN MORE</button>
    </div>
  </div>
</div>
